[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=6.7,<7.0"

[dev-packages]
pytest = ">=3.5.0,<4.0"
"flake8" = ">=3.5.0,<4.0"
twine = ">=1.11.0,<2.0"

[requires]
python_version = "3.6"
